.disabled{
    color: var(--snow-light);
    pointer-events: none;
}

.title {
    font-size: 32px;
}

@media (min-width: 1200px) {
    .title {
        font-size: 48px;
        max-width: 600px;
        font-weight: 700;
    }

    .card-text {
        min-height: 0px !important;
    }

    .card-desktop{
        display: flex;
        flex-direction: column;
        padding: 32px;
        min-height: 250px;
        width: 480px;
        border: 1px solid rgba(213, 213, 213, 0.4);
        border-radius: 32px;
        justify-content: space-between;
    }
}