<div class="row p-4 align-items-center justify-content-between w-100 bg-green mx-0" style="color: black;">
    <div class="col px-0">
        <h4>Code.Flow</h4>
        <div class="row mx-0">
            <small style="font-size: 8px" class="px-0">Entre em contato</small>
        </div>
        <div class="row mx-0">
            <small class="px-0 footer-route" (click)="sendToWpp()">(47) 99674-0418</small>
        </div>
        <div class="row mx-0">
            <small class="px-0 footer-route">email@codeflow.com</small>
        </div>
    </div>
    <div class="col px-0">
        <div class="row mx-0">
            <small class="px-0 text-end footer-route" (click)="routeEmitter.emit('about-us')">Sobre nós</small>
        </div>
        <div class="row mx-0">
            <small class="px-0 text-end footer-route" (click)="routeEmitter.emit('methods')">Processos</small>
        </div>
        <div class="row mx-0">
            <small class="px-0 text-end footer-route" (click)="routeEmitter.emit('services')">Serviços</small>
        </div>
        <div class="row mx-0">
            <small class="px-0 text-end footer-route" (click)="routeEmitter.emit('team')">Time</small>
        </div>
    </div>
</div>