<div class="row p-5 py-3 header-container justify-content-between" #headerContainer>
    <div class="col-4 navbar-brand mt-2">
        <img src="assets/Logo.png" alt="">
    </div>
    <div class="col-auto m-2">
        <div class="icon-container" [ngClass]="{'click-on': showMenu}" *ngIf="window.innerWidth < 1000">
            <i class="fa-solid fa-bars fa-xl d-lg-none pointer position-absolute"  (click)="showMenu = !showMenu"></i>
        </div>
        <div class="row mx-0 d-flex align-items-center justify-content-between" *ngIf="window.innerWidth > 1000">
            <div class="col-6 d-flex justify-content-between">
                <div class="col-auto mx-4 grow-animation pointer" (click)="routeEmitter.emit('hero'); showMenu = false">Início
                </div>
                <div class="col-auto mx-4 grow-animation pointer" (click)="routeEmitter.emit('about-us'); showMenu = false">Serviços</div>
                <div class="col-auto mx-4 grow-animation pointer" (click)="routeEmitter.emit('faq'); showMenu = false">Dúvidas</div>
                <div class="col-auto mx-4 grow-animation text-muted">Blog</div>
            </div>
            <button class="outline-btn" (click)="sendToWpp()">Falar com um consultor</button>
        </div>
    </div>
</div>
<div class="col w-100 d-flex position-fixed p-4 flex-column align-items-center justify-content-between mobile-menu-container slide-in-top" [ngStyle]="{'top.px': headerContainer.clientHeight}" *ngIf="showMenu">
    <div class="col-auto m-2 grow-animation pointer" (click)="routeEmitter.emit('hero'); showMenu = false">Início
    </div>
    <div class="col-auto m-2 grow-animation pointer" (click)="routeEmitter.emit('about-us'); showMenu = false">Serviços</div>
    <div class="col-auto m-2 grow-animation pointer" (click)="routeEmitter.emit('faq'); showMenu = false">Dúvidas</div>
    <div class="col-auto m-2 grow-animation text-muted">Blog</div>
</div>