.title{
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
text-align: center;
}


@media (min-width: 1200px) {
    /* This part is only read by viewports wider than 1200 pixels */
    .title{
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 60px;
        text-align: center;
        max-width: 40%;
        margin-bottom: 30px;
        margin-top: 150px;
    }

    .subtitle{
        font-size: 24px;
        margin-bottom: 32px;
    }

    .hero-container{
        height: 60vh;
    }
}