.methods-container{
    max-width: 100vw;
    overflow-x: hidden;
}

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.data-card .title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--green-base);
}

.data-card .index{
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}

.card-container {
    min-width: 330px;
    height: 200px;
    max-width: 330px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

@media (min-width: 1200px) {
    
    .data-card:hover{
        transition: transform 2s;
        transform: translateX(0) scale(1.1);
        cursor: default;
    }

    .card-container{
        margin: 0 32px;
    }
    .card-row {
       box-shadow: 5px 0 4px 10px black ;
       border-radius: 50px;
       max-width: 100vw;
       overflow-x: scroll;
       overflow-y: hidden;
       transition: padding-right 1s;
    }

    .card-row::-webkit-scrollbar{
        display: none;
    }
    .methods-container{
        margin: 32px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
    }
}