<div class="methods-container">
    <div class="d-flex flex-column align-items-center justify-content-center my-2 mx-2">
        <h1 class="text-center title my-4">{{title}}</h1>
    </div>
    <div class="card-row" [ngStyle]="{'padding-right.px': paddingRight}">
        <div class="d-flex flex-column flex-sm-row col-sm-auto align-items-center justify-content-between mb-4 mx-2" >
            <div class="card-container data-card" *ngFor="let card of cardData; index as indexOfCard">
                <div class="index">{{indexOfCard+1}}</div>
                <h1 class="text-center title">{{card.title}}</h1>
                <p class="text-center">{{card.text}}</p>
            </div>
        </div>
    </div>
    <div class="w-100 mx-0 d-flex justify-content-center align-items-center my-4 pb-5" *ngIf="screenWidth > 1200">
        <div class="col-auto" (click)="paddingRight = 0">
            <i class="fa-regular fa-arrow-left fa-xl mx-5 pointer" [ngClass]="{'disabled':paddingRight == 0}"></i>
        </div>
        <div class="col-auto" (click)="paddingRight = 3000">
            <i class="fa-regular fa-arrow-right fa-xl mx-5 pointer" [ngClass]="{'disabled':paddingRight == 3000}"></i>
        </div>
    </div>
</div>