<div class="container-fluid p-0 d-flex flex-column align-items-center justify-content-between"
    style="background-color: white; color: #000A14; min-height: 750px; overflow-x: hidden;">
    <img src="assets/section-divider.svg" style="margin-top: -5px; width: 150%">
    <div class="content-container p-4">
        <div class="d-flex flex-column align-items-center justify-content-center my-5 mx-2">
            <h1 class="text-center title">{{title}}</h1>
            <p class="text-center">Contamos com a parceria e apoio de um escritório de advocacia especializado na área
                de direito tributário.</p>
        </div>
        <div class="row d-flex align-items-center justify-content-center card-row">
            <div class="card width-33">
                <div class="title">Revisão tributária</div>
                <div class="subtitle">Subtitle</div>
            </div>
            <div class="card width-33">
                <div class="title">Defesa fiscal administrativa</div>
                <div class="subtitle">Subtitle</div>
            </div>
            <div class="card width-33">
                <div class="title">Blindagem patrimonial</div>
                <div class="subtitle">Subtitle</div>
            </div>
            <div class="card width-50 m-4">
                <div class="title">Administração do passivo tributário</div>
                <div class="subtitle">Subtitle</div>
            </div>
            <div class="card width-50 m-4">
                <div class="title">Recuperação e aproveitamento de créditos</div>
                <div class="subtitle">Subtitle</div>
            </div>
        </div>
    </div>

</div>