<div class="container-fluid p-0 d-flex flex-column align-items-center justify-content-between about-container" >
    <div class="content-container">
        <div class="d-flex flex-column align-items-center justify-content-center my-5 mx-2">
            <h1 class="text-center title">{{title}}</h1>
            <p class="text-center">Contamos com a parceria e apoio de um escritório de advocacia especializado<br>na área
                de direito tributário.</p>
        </div>
        <div class="row d-flex align-items-center justify-content-center card-row">
            <div class="card width-33">
                <div class="title">Revisão tributária</div>
                <div class="subtitle">Revisão completa dos tributos pagos indevidamente nos últimos 5 anos com a devida restituição ou compensação.</div>
            </div>
            <div class="card width-33">
                <div class="title">Defesa fiscal administrativa</div>
                <div class="subtitle">Defesa contra auto de infração ou notificação fiscal.
                </div>
            </div>
            <div class="card width-33">
                <div class="title">Blindagem patrimonial</div>
                <div class="subtitle">Estratégias legais para proteger o patrimônio pessoal dos sócios, empresários ou investidores.</div>
            </div>
            <div class="card width-50 m-4">
                <div class="title">Administração do passivo tributário</div>
                <div class="subtitle">Redução, suspensão e/ou extinção da dívida tributária.
                </div>
            </div>
            <div class="card width-50 m-4">
                <div class="title">Recuperação e aproveitamento de créditos</div>
                <div class="subtitle">Ressarcimento de créditos pagos a maior ou indevidamente e aproveitamento de benefícios fiscais.</div>
            </div>
        </div>
    </div>

</div>