
.about-container {
  background-color: white;
  color: #000A14;
  overflow-x: hidden;
}

.content-container {
  padding: 32px;
}

.divider{
  transform: rotate(180deg); 
  margin-top: 0px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  background-color: #f4f4f4;
  border: none;
  padding: 16px;
  margin: 8px 0;
}

.card .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

@media (min-width: 1200px) {

  .about-container{
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
  }

  .card {
    min-height: 150px;
    font-size: 18px;
    display: flex;
    justify-content: baseline;

    .title{
      font-size: 22px !important;
      margin-bottom: 16px;
    }
  }

  .card-row {
    padding-inline: 50px;
  }

  .width-33 {
    width: 30%;
    margin: 0 18px;
  }

  .width-50 {
    width: 46%;
    margin: 0;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 150px;
    height: 100%;

    .title{
      font-size: 48px;
      width: 700px;
      line-height: 120%;
    }
  }

  .divider{
   margin-top: -100px;
  }
}