<div class="container-fluid d-flex flex-column justify-content-center" style="padding: 5% 30%; height: 100vh; background-color: black;">
    <img src="assets/Logo.png" class="my-4 slide-in-left " width="250px">
    <div class="col d-flex justify-content-center p-5 align-items-center h-100 slide-in-right" style="background-color: #ffff; border-radius: 16px;">
        <form action="" class="login-form w-100 px-5 d-flex flex-column">
            <div class="form-group d-flex">
                <div class="col" style="margin-right: 32px;">
                    <label for="firstName">Primeiro nome</label>
                    <input type="text" class="form-control input-group" placeholder="Primeiro nome">
                </div>
                <div class="col">
                    <label for="lastName">Sobrenome</label>
                    <input type="text" class="form-control input-group" placeholder="Sobrenome">
                </div>
            </div>
            <div class="form-group my-2">
                <label for="email" class="input-label">E-mail</label>
                <input type="text" name="email" id="email" class="form-control input-group" placeholder="Digite seu e-mail">
            </div>
            <div class="form-group d-flex">
                <div class="col" style="margin-right: 32px;">
                    <label for="phoneNumber">Telefone</label>
                    <input type="text" class="form-control input-group" placeholder="Primeiro nome">
                </div>
                <div class="col">
                    <label for="lastName">Nome da empresa</label>
                    <input type="text" class="form-control input-group" placeholder="Sobrenome">
                </div>
            </div>
            <div class="form-group my-2">
                <label for="password" class="input-label">Categoria da Empresa</label>
                <select type="text" name="email" id="email" class="form-control input-group">
                    <option value="">Selecione a categoria da empresa</option>
                </select>
            </div>
            <div class="form-group my-2">
                <label for="password" class="input-label">Senha</label>
                <input type="text" name="email" id="email" class="form-control input-group" placeholder="6 - 25 caracteres">
            </div>
            <div class="form-group my-2">
                <label for="password" class="input-label">Confirmar senha</label>
                <input type="text" name="email" id="email" class="form-control input-group" placeholder="digite a senha novamente">
            </div>
            <div class="form-group mb-2">
                <input type="checkbox" name="sendNews" id="sendNews">
                <label for="sendNews" class="mx-2">Receber novidades linkle</label>
            </div>
            <button class="btn btn-primary">Cadastrar</button>
            <button class="btn my-2" routerLink="/login">Voltar</button>
        </form>
    </div>
</div>