.title{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.img-container{
    height: 248px;
    width: 100%;
    margin: 40px 0;
    background: var(--snow-light);
}

@media (min-width: 1200px) {
    .services-container{
        min-height: 80vh;
    }

    .title{
        font-size: 48px;
    }

    .img-container{
        height: 600px;
        width: 50vw;
    }
}