/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root {
  --black: #181818;
    --orange-base: #FBB229;
    --snow-light: #D5D5D5;
    --green-base: #55E6A5;
    --tw-text-opacity: 1;
}

body {
  background-color: black;
  font-family:'Montserrat', sans-serif;
  color: white;
}

.bg-orange{
    background-color: var(--orange-base) !important;
}

.bg-snow{
    background-color: var(--snow-light) !important;
}

.bg-green{
    background-color: var(--green-base) !important;
}

.text-primary{
  color: var(--green-base)
}

.text-yellow{
    color: var(--orange-base);
}

.text-muted{
    color: var(--snow-light);
}

.pointer{
  cursor: pointer;
}


/* Animações */

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  .slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  /* Botao padrao centralizado */
  button.btn.btn-primary{
    background-color: var(--green-base);
    border: none;
    font-size: 16px;
    color: black;
    display: flex !important;
    font-weight: 500;
    width: auto !important;
    justify-content: space-between !important;
    align-items: center;
    height: 56px !important;
  }

  button.btn.btn-primary:hover{
    transition: transform 1s;
    transform: translateX(0) scale(1.1);
  }

  .disabled{
    color: rgba(150, 150, 150, 0.377);
    pointer-events: none;
}

.grow-animation:hover{
  transition: transform 1s;
  transform: translateX(0) scale(1.2);
  cursor: default;
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}