/* You can add global styles to this file, and also import other style files */

:root {
    --yellow-base: #ffc50d;
    --snow-light: #EBEBEB;
    --blue-base: color: rgba(59,130,246,var(--tw-text-opacity));
    --tw-text-opacity: 1;
}

body {
  background-color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

.bg-yellow{
    background-color: var(--yellow-base) !important;
}

.bg-snow{
    background-color: var(--snow-light) !important;
}

.bg-blue{
    background-color: var(--blue-base) !important;
}

.text-primary{
  color: var(--blue-base)
}

.text-yellow{
    color: var(--yellow-base);
}

.text-muted{
    color: var(--snow-light);
}

.pointer{
  cursor: pointer;
}


/* Animações */

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  .slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

