<app-header></app-header>
<div class="container-fluid px-0" style="height: 100vh;">
    <div class="container-fluid h-100 px-0" style="padding-top: 38px;">
        <div class="col px-0">
            <app-hero></app-hero>
            <app-about-us></app-about-us>
            <app-methods></app-methods>
            <app-services-component></app-services-component>
            <app-team></app-team>
            <app-cta-component></app-cta-component>
            <app-footer></app-footer>
        </div>
    </div>
</div>