<app-header (routeEmitter)="handleRouter($event)" id="hero"></app-header>
<div class="container-fluid px-0" style="height: 100vh;">
    <div class="container-fluid h-100 px-0" style="padding-top: 38px;">
        <div class="col px-0">
            <app-hero></app-hero>
            <app-about-us id="about-us"></app-about-us>
            <!-- Middle hero -->
            <div id="middle-hero" class="middle-hero-container m-4"
                style="background-color: #000A14">
                <div class="col-auto px-0 middle-hero-text">
                    <div style="font-weight: 700;" class="title">Rápido,
                        personalizado e eficiente.</div>
                    <div class="my-2">
                        Ofertamos o que há de melhor para administração e redução do passivo tributário de nossos
                        clientes.
                    </div>
                    <button class="outline-btn mt-2" (click)="sendToWpp()">Falar com um consultor</button>
                </div>
                <img src="assets/girl-drawing.png" class="img"/>
            </div>
            <!-- E-mail call -->
            <div id="email-call" class="email-call-container d-flex flex-column align-items-center"
                style="background-color: var(--blue-base); color: white">
                <div class="text-center title" style="font-weight: 700;font-size: 24px;">Comece a recuperação fiscal da
                    sua
                    empresa.</div>
                <div class="text-center my-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.
                </div>
                <div class="input-email-container">
                    <input type="text" class="main-input" placeholder="Digite seu e-mail">
                    <button class="submit-btn">Enviar</button>
                </div>
            </div>
            <!-- E-mail call -->
            <div id="faq" class="email-call-container p-4 d-flex flex-column align-items-center"
                style="background-color: white; color: #000A14">
                <div class="text-center" style="font-weight: 700;font-size: 24px">Dúvidas frequentes.</div>
                <div class="text-center my-4">
                    Se você não encontrou sua dúvida, entre em contato conosco <strong
                        class="text-primary pointer">aqui</strong>
                </div>
                <div class="faq-container pointer">
                    <div class="d-flex align-items-center justify-content-between"
                        (click)="faqControl[0] = !faqControl[0]">
                        <div class="faq-title">
                            O passivo tributário prescreve?
                        </div>
                        <div class="faq-icon pointer">
                            <i class="fa-regular"
                                [ngClass]="{'fa-angle-right': !faqControl[0], 'fa-angle-down': faqControl[0]}"></i>
                        </div>
                    </div>
                    <div class="faq-content" [hidden]="!faqControl[0]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                    </div>

                </div>
                <div class="faq-container pointer">
                    <div class="d-flex align-items-center justify-content-between"
                        (click)="faqControl[1] = !faqControl[1]">
                        <div class="faq-title">
                            Como faço para regularizar meu passivo?
                        </div>
                        <div class="faq-icon pointer">
                            <i class="fa-regular"
                                [ngClass]="{'fa-angle-right': !faqControl[1], 'fa-angle-down': faqControl[1]}"></i>
                        </div>
                    </div>
                    <div class="faq-content" [hidden]="!faqControl[1]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                    </div>

                </div>
                <div class="faq-container pointer">
                    <div class="d-flex align-items-center justify-content-between"
                        (click)="faqControl[2] = !faqControl[2]">
                        <div class="faq-title">
                            Quais as consequências da não regularização do meu passivo tributário?
                        </div>
                        <div class="faq-icon pointer">
                            <i class="fa-regular"
                                [ngClass]="{'fa-angle-right': !faqControl[2], 'fa-angle-down': faqControl[2]}"></i>
                        </div>
                    </div>
                    <div class="faq-content" [hidden]="!faqControl[2]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                    </div>

                </div>
            </div>
            <div class="w-100" style="background: white;">
                <img src="assets/section-divider-up.svg" class="w-100">
            </div>
            <app-footer (routeEmitter)="handleRouter($event)"></app-footer>
        </div>
    </div>
</div>