<div class="container-fluid d-flex align-items-center justify-content-center" *ngIf="!orders.length">
    <h3 class="empty-help-text">Nenhuma ordem de serviço pode ser criada.
        Para habilitar a função, cadastre um contrato no sistema.</h3>
    <img src="assets/icons/bg-order.svg" class="empty-bg">
</div>
<div class="row ml-4 mr-3 my-4 d-flex" *ngIf="orders.length">
    <div class="col px-0 px-4">
        <table class="w-100">
            <thead>
                <th class="table-heading-size">
                    <div class="row mx-0 d-flex align-items-center px-4">
                        <div class="col">Razão Social <i class="fa-duotone fa-arrow-down-arrow-up fa-lg"></i></div>
                    </div>
                </th>
                <th class="table-heading-size">CNPJ <i class="fa-duotone fa-arrow-down-arrow-up fa-lg"></i></th>
                <th class="table-heading-size">Total de Débitos <i class="fa-duotone fa-arrow-down-arrow-up fa-lg"></i></th>
                <th class="table-heading-size">Status <i class="fa-solid fa-caret-down fa-lg"></i></th>
                <th class="table-heading-size">Data de Atualização <i class="fa-duotone fa-arrow-down-arrow-up fa-lg"></i></th>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of orders; index as indexOfOrder">
                    <tr class="order-tile" (click)="order.selected = !order.selected">
                        <td class="table-heading-size">
                            <div class="row mx-0 d-flex align-items-center px-4">
                                <p class="m-0"
                                    style="max-width: 50ch; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                    {{order.name}}
                                </p>
                            </div>
                        </td>
                        <td class="table-heading-size">{{ '03395781000159' | mask:'00.000.000/0000-00' }}
                        </td>
                        <td class="table-heading-size">{{'4500' | currency:'BRL':true}}</td>
                        <td class="table-heading-size">
                            <div class="priority-data" [ngClass]="order.status">{{order.status | dictionary:'Status'}}</div>
                        </td>
                        <td class="table-heading-size">
                           {{'2022-03-01T00:15:30Z' | date:'dd/MM/yyyy'}}
                        </td>
                        
                    </tr>
                    <tr *ngIf="order.selected">
                        <td colspan="5">
                            <div class="row mx-0 align-items-center h-100 w-100 bg-light p-4">
                                <label for="phone">Telefone</label>
                                <div class="col-auto mr-4" *ngFor="let phone of order.phones">
                                    {{ phone | phone}}
                                </div>
                            </div>
                            <div class="row mx-0 align-items-center h-100 w-100 bg-light p-4">
                                <label for="phone">E-mails</label>
                                <div class="col-auto mr-4" *ngFor="let email of order.emails">
                                    {{email}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>