.empty-help-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    max-width: 550px;
    text-align: center;
    color: var(--gray-light);
  }
  
  .empty-bg {
    position: fixed;
    bottom: 0;
    left: 30%;
  }
  
  .table-heading-size {
    width: 18%;
  }

  label{
    font-weight: 600;
  }

  thead{
    font-size: 18px;
    font-weight: 500;
  }
  
tr.order-tile {
    height: 56px;
    border-radius: 16px;
    background: #ffffff;
  }
  
  .order-tile:hover {
    background-color: #8b8b8b57;
    cursor: pointer;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0 16px;
  }

  .category-data {
    background: var(--snow-light);
    border-radius: 8px;
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 12px;
  }
  
  .priority-data {
    padding: 4px 8px;
    font-size: 12px;
    width: fit-content;
    color: #ffffff;
    border-radius: 8px;
  }
  
  .priority-data.refused {
    background-color: red;
  }
  
  .priority-data.onGoing {
    background-color: orange;
  }
  
  .priority-data.accepted {
    background-color: green;
  }

  .priority-data.noContact{
    background-color: var(--snow-light);
  }
  
  .scroll-list-wrapper {
    max-height: calc(100vh - 260px);
    overflow-y: scroll;
  }
  
  